CVCourse\DATA\CATS_DOGS
..\UdemyDSCourse
CVCourse
DSBootcamp
DjangoFullStack
Rover
#100_days_of_python
.history
__pycache__

100_days_of_python/day_32/Birthday_Wisher_Day32_start/main.py
100_days_of_python/day_32/birthday-wisher-extrahard-start/main.py
.vscode/launch.json
100_days_of_python/day_33/issoverhead-start/main.py
.vscode/settings.json
OOP/ooptest.py
OOP/ooptest2.py
100_days_of_python/day_35/twilio_text_alert.py
